<section id="one" #One > 
<div class="container">
<div class="row">
  <div class="col-md-12">
    <h3 class="About-Us">
      About Us
    </h3>
  </div>
</div>
<div class="row">
  
  <div class="col-md-6">
    <h1 class="main-heading">
      We offer payroll solutions to businesses and contractors.
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="main-para">
        Sweet Umbrella provides professional assistance and advice to organisations seeking to grow their manpower, while our umbrella solutions provide contractors with the extensibility and confidentiality of a full-time employee. Our customised method guarantees that you are paid on the same day, that your tax plans are managed skilfully, and, the more importantly, that you have no company role and responsibility, enabling you to enjoy your contracting and spare time.
      </p>
    </div>
  </div>
</div>
<!-- progressive bars -->
<div class="row"> 
  <div class="col-md-3">
    <div style="width: 100%; margin: 50px auto progressBarBox">
      <div>
        <span>Compliance</span>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
        <span class="title text-dark">100%</span>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-md-3">
    <div style="width: 100%; margin: 50px auto progressBarBox">
      <div>
        <span>Speed</span>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
        <span class="title text-dark">100%</span>
        </div>
      </div>
    </div>
    
  </div>
</div>
<div class="row"> 
  <div class="col-md-3">
    <div style="width: 100%; margin: 50px auto">
      <div>
        <span>Informative</span>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
        <span class="title text-dark">100%</span>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-md-3">
    <div style="width: 100%; margin: 50px auto">
      <div>
        <span>
          Customer Support
        </span>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 100%">
        <span class="title text-dark">100%</span>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- progressive bars -->
</div>
     <!-- flip card -->

    <div class="container">
        <div class="row">
            <!-- <button type="button" class="btn btn-outline-primary w-100" (click)="runToaster()">Primary</button> -->
            <div class="col-md-4">
              <!-- flip-card-container -->
<div class="flip-card-container">
  <div class="flip-card">

    <div class="card-front">
     
      <div class="  d-flex align-items-center  justify-content-center ">
      <div class=" d-flex align-items-center justify-content-center rounded mb-2">
          <i class="fas fa-umbrella text-white display-5"></i>
      </div>
      <div class="ps-3">
          <h5 class="text-white mb-0">PAYE Umbrella </h5>
          <p class="text-white mb-0">Discover Our Services</p>
      </div>
  </div>
    </div>

    <div class="card-back">
      <ul>
        <li>
          Simple Hassle Free Set-up.
        </li>
        <li>
          Short-Term Contracts (3 months)
        </li>
        <li>
          Retain Your PAYE Tax Credit.
        </li>
      </ul>

     
    </div>

  </div>
</div>
            </div>
            <div class="col-md-4">
              <!-- flip-card-container -->
<div class="flip-card-container" >
  <div class="flip-card">

    <div class="card-front">
     
      <div class="  d-flex align-items-center  justify-content-center">
      <div class=" d-flex align-items-center justify-content-center rounded mb-2">
        <i class="fas fa-coins text-white display-5"></i>
      </div>
      <div class="ps-3">
        <h5 class="text-white mb-0">Agency Managment </h5>
        <p class="text-white mb-0">Discover Our Services</p>
      </div>
  </div>
    </div>

    <div class="card-back">
      

     
    </div>

  </div>
</div>
            </div>
            <div class="col-md-4">
              <!-- flip-card-container -->
<div class="flip-card-container" >
  <div class="flip-card">

    <div class="card-front">
     
      <div class="  d-flex align-items-center  justify-content-center">
      <div class=" d-flex align-items-center justify-content-center rounded mb-2">
        <i class="fas fa-handshake text-white display-5"></i>
      </div>
      <div class="ps-3">
        <h5 class="text-white mb-0">Limited Company </h5>
        <p class="text-white mb-0">Discover Our Services</p>
      </div>
  </div>
    </div>
    <div class="card-back">
    </div>
  </div>
</div>
            </div>

        </div>
    </div>
</section>
<!-- flip card -->
<section id="two">

<!------------------------------------------------ Line-Chart  --------------------------------->
<!-- <div class="container">
    <div class="row">
        <canvas baseChart class="chart"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
<table>
  <tr>
    <th *ngFor="let label of lineChartData.labels">{{label}}</th>
  </tr>
  <tr *ngFor="let d of lineChartData.datasets; let i=index" [class]="'line-'+i">
    <td *ngFor="let label of lineChartData.labels; let j=index">{{d && d.data[j]}}</td>
  </tr>
</table>
<div class="button-row">
  <button mat-button mat-raised-button class="btn redbtn ms-1" color="primary" (click)="randomize()">Randomize</button>
  <button mat-button mat-raised-button class="btn redbtn ms-1" color="primary" (click)="pushOne()">Push</button>
  <button mat-button mat-raised-button class="btn redbtn ms-1" color="primary" (click)="changeColor()">Recolor</button>
  <button mat-button mat-raised-button class="btn redbtn ms-1" color="primary" (click)="hideOne()">Toggle Series B</button>
  <button mat-button mat-raised-button class="btn redbtn ms-1" color="primary" (click)="changeLabel()">Change Label</button>
</div>
    </div>
</div> -->
<!------------------------------------------------ Line-Chart  --------------------------------->


<!------------------------------- Why-Join Us Our Team  -->
<div class="container">
  <div class="row">
    <h2 class="text-center main-heading mb-5">Why Join Us Our Team?</h2>
    <div class="col-md-3">
      <div class="flip-card-container" >
        <div class="flip-card">
      
          <div class="card-front">
           
            <div class="d-flex align-items-center flex-column  justify-content-center">
            <div class=" d-flex align-items-center justify-content-center rounded mb-2">
              <i class="fa-solid fa-user-plus text-white display-5"></i>
            </div>
            <div class="heading text-white">
              Flexibilty
            </div>
        </div>
          </div>
          <div class="card-back">
            <div class="text-center p-5">
              Contracting allows you to work when and how you want.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="flip-card-container" >
        <div class="flip-card">
      
          <div class="card-front">
           
            <div class="  d-flex align-items-center  justify-content-center flex-column">
            <div class=" d-flex align-items-center justify-content-center rounded mb-2">
              <i class="fa-sharp fa-solid fa-chart-pie text-white display-5"></i>
            </div>
            <div class="ps-3">
              <div class="heading text-white">Hassle
                Free Tax</div>
            </div>
        </div>
          </div>
          <div class="card-back">
            <div class="text-center p-5">
              There is nothing to worry about as everything we do compliance under UK laws and regulations
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="flip-card-container" >
        <div class="flip-card">
      
          <div class="card-front">
           
            <div class="  d-flex align-items-center  justify-content-center flex-column">
            <div class=" d-flex align-items-center justify-content-center rounded mb-2">
              <i class="fa-sharp fa-solid fa-shield-halved text-white display-5"></i>
            </div>
            <div class="ps-3">
              <div class="heading text-white">Full Protection</div>
            </div>
        </div>
          </div>
          <div class="card-back">
            <div class="text-center p-5">
              Umbrella services provides you with the security of a full-time employee.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="flip-card-container" >
        <div class="flip-card">
      
          <div class="card-front">
           
            <div class="  d-flex align-items-center  justify-content-center flex-column">
            <div class=" d-flex align-items-center justify-content-center rounded mb-2">
              <i class="fa-solid fa-credit-card text-white display-5"></i>
            </div>
            <div class="ps-3">
              <div class="heading text-white">Quick Payments</div>
            </div>
        </div>
          </div>
          <div class="card-back">
            <div class="text-center p-5">
              Get paid weekly and in a way that works for you.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
   
  </div> -->
</div>
<!------------------------------- Why-Join Us Our Team  -->


</section> 

<section id="three">
 <!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="mainImage container h-100 d-flex align-items-center">
      </div>
    </div>
  </div>
 </div> -->

 <!---------------------- Our-Service -->
 <div class="container">
  <h2 class="service text-center main-heading mb-4">Our Services</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="box w-100 border-dark border-2 rounded bg-dark d-flex align-items-center px-4">
        <p class="text-center">
          Sweet Umbrella Ltd offer expert assistance and advice to help the company grow, and
                  we are here to support you as you broaden, no matter what hurdles arise.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box w-100 border-dark border-2 rounded bg-dark d-flex align-items-center px-4">
        <p class="text-center">
          Sweet Umbrella Ltd offer expert assistance and advice to help the company grow, and
                  we are here to support you as you broaden, no matter what hurdles arise.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box w-100 border-dark border-2 rounded bg-dark d-flex align-items-center px-4">
        <p class="text-center">
          Sweet Umbrella Ltd offer expert assistance and advice to help the company grow, and
                  we are here to support you as you broaden, no matter what hurdles arise.
        </p>
      </div>
    </div>
  </div>
</div>
 <!---------------------- Our-Service -->
  
</section>

<section id="four">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
<div class="wrapper bg-yellow text-center">
  <img class="img-fluid w-50 h-50" src="../../assets/imgs/umbrella-icon.png" alt="">
  <h5>PAYE Umbrella</h5>
  <p class="px-3 pb-3">All contractors should utilize an umbrella company, such as Sweet Umbrella, because it is a more
      convenient way of working as well as guarantees that you are protected by professional indemnity, public
      liability, and employer's liability insurance.</p>
</div>
      </div>
      <div class="col-md-4">
        <div class="wrapper bg-yellow text-center">
          <img class="img-fluid w-50 h-50" src="../../assets/imgs/Handshake.png" alt="">
          <h5>AGENCIES</h5>
          <p class="px-3 pb-3"> Making sure that you pay your employees on schedule and in a timely basis will enable you to expand as
            an agency. We collaborate with you and your contractors to ensure that everyone is paid timely and in
            accordance with the law.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="wrapper bg-yellow text-center">
          <img class="img-fluid w-50 h-50" src="../../assets/imgs/Ltd-icon.png" alt="">
          <h5>LIMITED COMPANY</h5>
          <p class="px-3 pb-3">You may be looking for ways to enhance your work-life balance if you run a small business. You can rely
            on Sweet Umbrella instead of devoting your free time to payroll and documentation. We are here to help
            your company's payroll run as smoothly as possible.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="five">
  
</section>